<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Mulish:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style1.css">
    <title>Blog Site</title>
</head>
<body>



    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid p-4 mb-2 logo">
            <img src="https://maido-dark.fueko.net/content/images/2020/06/maido.svg" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Style Guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact/">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Newsletter</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>




    <!-- <div class="container">
        <div class="row pt-2">
            <div class="col-7 logo">
                <img src="https://maido-dark.fueko.net/content/images/2020/06/maido.svg" alt="">
            </div>
            <div class="col-5 topnav">
                <a href="">Home</a>
                <a href="">Features</a>
                <a href="">Style Guide</a>
                <a href="contact/">Contact</a>
                <a href="">Newsletter</a>
            </div>
        </div>
    </div> -->